@model IEnumerable<ConfettiStore.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}
    <div class="d-none d-md-block">
        <i class="fas fa-boxes text-dark float-right" style="font-size:50px;"></i>
        <ul class="breadcrumb">
            <li><a href="#" onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
            <li>Order Items</li>
        </ul>
    </div>
    <div class="navbar sticky-top backgroundColor navbar-position">
        <div class="container">
            <h1 class="opacity d-none d-sm-block"><i class="fas fa-boxes text-dark" style="font-size:30px;"></i> Order Items</h1>
            <h2 class="opacity d-xs-block d-sm-none"><i class="fas fa-boxes text-dark" style="font-size:25px;"></i> Order Items</h2>
        </div>
        <div class="d-xs-none d-lg-block">
            <div class="d-xs-none d-lg-block">
                <div class="input-group">
                    <form id="orderItem-search-note">
                        <input class="form-control py-2 border-right-0 border" type="text" placeholder="Search..">
                    </form>
                    <span class="input-group-append">
                        <a class="search-filter input-group-text py-2 border-left-0 opacity"><i class="fa fa-search "></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="@*col-sm-2*@ justify-content-end">
            <button class="btn btn-success opacity" type="button" onclick="location.href='@Url.Action("Create", "OrderItems")'">Create New</button>
        </div>
    </div>
<div class="table-responsive">
    <table id="orderItemTable" class="table opacity">
        <caption>Order Items</caption>
        <thead class="thead-light">
            <tr>
                <th id="int" onclick="sortTable(0, id)">
                    @Html.DisplayNameFor(model => model.CustomerOrder)
                </th>
                <th id="int" onclick="sortTable(1, id)">
                    @Html.DisplayNameFor(model => model.Confetti)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="orderItem-tableBody">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="font-weight-bold">
                        @Html.DisplayFor(modelItem => item.CustomerOrder.OrderId)
                    </td>
                    <td class="font-weight-bold">
                        @Html.DisplayFor(modelItem => item.Confetti.ConfettiId)
                    </td>
                    <td align="right">
                        <a asp-action="Details" asp-route-id="@item.OrderItemId"><i class="fas fa-edit"><label class="d-none d-md-block">Select</label></i></a><br />

                        @*<a asp-action="Edit" asp-route-id="@item.OrderItemId"><i class="fas fa-edit"><label class="d-none d-md-block">Edit</label></i></a><br />
                        <a asp-action="Details" asp-route-id="@item.OrderItemId"><i class="fas fa-info"><label class="d-none d-md-block">Info</label></i></a><br />
                        <a asp-action="Delete" asp-route-id="@item.OrderItemId"><i class="fas fa-trash"><label class="d-none d-md-block">Delete</label></i></a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="navbar fixed-bottom backgroundColor">
    <button class="btn btn-primary d-xs-block d-lg-none" type="button" onclick="location.href='@Url.Action("Index", "OrderAttachments")'"><i class="fas fa-chevron-left"></i></button>
    <button class="btn btn-primary d-xs-block d-lg-none" type="button" onclick="location.href='@Url.Action("Index", "Status")'"><i class="fas fa-chevron-right"></i></button>
</div>